@import url('tabelas.css');

* {
	background: url('../images/codigo.jpg') center top repeat;
}

html {
	font-family: sans-serif;
	color: #333333;
}

header{
	background: rgba(0, 0, 0, 0.70);
}

p {
	color: #454545;
}

header p {
	color: #fff;
	font-size: 1.5rem;
}

header h2 {
	font-weight: 100;
}

header > h2 {
	font-size: 4.0rem;
	font-weight: 400;
	font-family: 'Press Start 2P', cursive;
}


h2 ~ h5 {
	font-size: 1.2rem;
}

div ~ p {
	text-transform: uppercase;
}

a {
	color: #555555;
	text-decoration: none; /* o padrão é underline */
	font-size: 1.5rem;
	display: block;
	width: 100%;
	height: auto;
}

a:visited {
	color: #f00;
}

a:active {
	color: #096;
}

a:hover {
	color: #009;
	background: #eee;
}

header > h2:hover {
	background-image: linear-gradient(to bottom, rgb(0, 100, 255), rgb(168, 2, 184), rgb(255, 255, 255));
	color: black;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
}

html {
	font-family: sans-serif;
}


p {
	font-weight: normal;
	font-size: 1.4rem;
}

ul {
	padding-left: .5rem;
	margin-left: .5rem;	
}

li {
	letter-spacing: 0.01rem;
	font-family: sans-serif;
	line-height: 1.5;
}

h3 {
	/* declaração resumida / completa */
	font: italic bold 1.2rem/2 sans-serif;
	color: #FFF;
}

body {
	background: url('../images/codigo.jpg') center top repeat #EEEEEE;
}

section {
	background: rgba(122, 18, 114, 0.95);

}

p {
	color: blue;
	color: #034589;
}

footer {
	background-color: #034589;
}

footer p {
	color: rgb(255, 255, 255);
}

.navegacao {
	background-color: rgba(63, 50, 184, 0.8);
	padding: 0.5rem;
}

.navegacao li a {
	color: white;
	font-size: 1.4rem;
}

.navegacao li a:hover {
	background-color: rgba(217, 160, 212, 0.5);
	color: #333333;
}
