html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6em;
    color: #333;
}

footer{
    color: #333;
    font-size: 1.2rem;
}

div{
    margin: 40px auto;
}

#grafico-01{
    background-color: brown;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
}

div img{
    width: 100%;
}

#grafico-02{
    width: 100px;
    border-style: solid;
    border-width: 60px 0px 60px 120px;
    border-color: transparent transparent transparent blue;
}

#imagem-vetorial{
 width: 200px;
}

/*    FILTRO     */
.filtro{
    
}