html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6em;
    color: #333;
}

footer{
    color: #333;
    font-size: 1.2rem;
}

div{
    margin: 40px auto;
}

#grafico-01{
    background-color: brown;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden; /*  Propriedade que define o que acontece com as partes que "transbordarem" o local do elemento*/
}

div img{
    width: 100%;
}

#grafico-02{
    width: 100px;
    border-style: solid;
    border-width: 60px 0px 60px 120px;
    border-color: transparent transparent transparent blue;
}

#imagem-vetorial{
 width: 200px;
}

img{
    max-width: 100%;
    height: auto;
}


/*    FILTRO     */

#grafico-01{
    filter: drop-shadow(8px 8px 10px #333); /*O primeiro parâmetro: controla o deslocamento no eixo x; Segundo no eixo y; Terceiro o blur da sombra*/
    max-width: 100%;
    height: auto;
}

.filtro{
    filter: grayscale(100%); /* escala de cinza porcentagem*/
    filter: blur(5px); /*desfoque pixels*/
    filter: brightness(10%); /*luminosidade porcentagem 100% é o normal*/
    filter: invert(100%); /* inversão de cores porentagem*/
    filter: opacity(50%); /* transparência 100% é o normal*/
    filter: saturate(250%) sepia(100%); /* para juntar filtros é só separá-los por espaço*/
}

.filtro:hover{
    filter: grayscale(0%);
    
    
}