*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh /* viewport height*/;
    background-color: gray;
    overflow-x: hidden;
}

h1, h2, p{
    margin-bottom: 20px;
}

div{
    padding: 20px 0px;
    margin:0
}

.width-100{
    width: 100%;
    width: 100vw /* viewport width */;
    background-color: aqua;
    padding: 20px 0;
    height: 400px;
}

nav{
    background-color: blue;
    width: 20%;
    float: left;
    display: table;
    height: 100%;
}

article{
    background-color: cornsilk;
    width: 80%;
    float: left;
    height: 100%;
    box-sizing: border-box; /* O border-box considera o padding e borda na altura e largura*/
}

.fixed-width{
    background-color: chartreuse;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.background{
    background-color: fuchsia;
    background-image: url(../Imagens/pattern.png);
    width: 100%;
    height: 25vh;
    background-repeat: repeat-x; /* Faz com que o eixo especificado seja no qual as imagens repetirão, ou não repetirão*/
}

div img{
    width: 100%;
}