html{
    font-size: 62.5%;
}

body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

.main-container{
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container{
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 98%;
    max-width: 1198px;
}

header{
    background-color: #f5e2df;
    padding: 30px 20px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    filter: drop-shadow(5px 5px 15px);
}

section{
    background-color: #4b3a41;
    padding: 20px 0;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */ 
    width: 100%;
}

section nav{
    display: block;
    float: left;
    text-align: center;
    width: 30%;
    margin: 0 0 40px 20px;
}

ul{
    list-style: none
}

nav li{
    background-color: #e7d1cd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

nav li:hover{
    background-color: #FFE3DC;
}

nav a{
    text-decoration: none;
    color: #393c4b;
}

nav a:hover{
    color: #2AAD91;
}

section article{
    display: block;
    float: left;
    width: 100%;
    text-align: justify;
}

article img{
    width: 65%;
}

h1{
    font-size: 2.5rem;
    color: #2AAD91;
    margin-bottom: 30px;
}

h2{
    font-size: 2.0rem;
    margin-top: 35px;
    color: #2AAD91;
    margin-bottom: 20px;
}

p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #FFE3DC;
}

h3{
    font-size: 1.8rem;
    color: #2AAD91;
    margin: 30px 0 15px 0;
}

h4{
    font-size: 1.6rem;
    color: #239179;
    margin: 30px 0 10px 0;
}

ol{
    padding-left: 30px;
    margin-bottom: 10px;
}

ol li{
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #dac3be;
}

#tenho-interesse {
    background-color: #92556c;
    width: 100%;
}

#tenho-interesse h1{
    margin-bottom: 20px;
}

#tenho-interesse form,
html .cog-form__container, :root:root:root:root:root .cog-form__container {
    background-color: #92556c !important;
    width: 100%;
    margin-top: 20px;
}

#tenho-interesse, html .cog-cognito *, html .cog-cognito *::before, html .cog-cognito *::after, :root:root:root:root:root .cog-cognito *, :root:root:root:root:root .cog-cognito *::before, :root:root:root:root:root .cog-cognito *::after {
    color: #2AAD91 !important;
}

.cog-button__text{
    text-decoration: none !important;
}

.el-button{
    background-color: #4b3a41 !important;
    border: 1px solid #f5e2df !important;
}

.cognito{
    height: 400px !important;
    overflow: hidden !important;
}

footer{  
    display: block;
    float: left;
    background-color: #4b3a41;
    padding: 20px 0;
    width: 99.9%;
}

footer p{
    color: #FFE3DC;
    font-size: 1.4rem;
}

footer small{
    font-size: 80%;
    display: block;
}

@media (max-width: 700px) {
    section nav{
        margin: 0 auto 40px auto;
        width: 60%;
    }
    article img{
        width: 100%;
    }
    h1{
        text-align: center;
        line-height: 2.7rem;
    }
    h4{
        line-height: 2.0rem;
    }
    ol{
        text-align: left;
    }
}

#banner{
    background-image: url('../imagens/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height:60vh;
}

.legenda-container{
    width: 30vw;
    float: right;
    margin: 40px 0 0 0;

}

.legenda{
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
    margin-bottom: 3rem;
}

.legenda h5,
.legenda h4{
    color: #92556c;
    line-height: 150%;
    margin: 10px;
}

.button-cta{
    border-radius: 25px;
    display: inline-block;
    background-color: #4b3a41;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #454545;
    padding: 10px 15px;
    width: auto;
    text-decoration: none;
    font-weight: 300;
    margin: 20px auto;
}

#saiba-mais{
    background-color: #92556c;
    padding: 40px 0;
}

#saiba-mais p,
#saiba-mais img{
    width: 45%;
    display: block;
    float: left;
    padding: 20px;
}

#perguntas-frequentes {
    background-color: #f5e2df;
    padding-top: 40px;
    padding-bottom: 40px;
}

dl {
    margin: 20px 0 ;
}
dt {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.6rem;
    color: #4b3a41;
    margin-bottom: 5px;
}

dd {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}